div.hover span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f5bc42;
    color:black;
    opacity: 0;
    transition: opacity 1s;
    font-weight:900;
    width:80%;
    margin:auto;
    border-radius: .5em .5em 0 0;
  }
  
  div.hover:hover span {
    display: block;
    opacity: 1;
  }